
# NameX Payments

We need to load in these libraries into our notebook in order to query, load, manipulate and view the data

In [ ]:
import os
from datetime import tzinfo, timedelta, datetime, timezone
import psycopg2
import pandas as pd
import matplotlib
import time
# from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from IPython.core.display import HTML

%load_ext sql
%config SqlMagic.displaylimit = 5

In [ ]:
%run ./utility.ipynb

This will create the connection to the database and prep the jupyter magic for SQL

In [ ]:
sbc_pay = 'postgresql://postgres:postgres@docker.for.mac.localhost:6666/pay-db';
    
%sql $sbc_pay

In [ ]:
namex = 'postgresql://postgres:postgres@docker.for.mac.localhost:4444/namex';
    
%sql $namex

Simplest query to run to ensure our libraries are loaded and our DB connection is working

In [ ]:
%%sql $sbc_pay
select now() AT TIME ZONE 'PST' as current_date

In [ ]:
%%sql $namex
select now() AT TIME ZONE 'PST' as current_date

In [ ]:
%%sql $namex rs_today <<
select (now() AT TIME ZONE 'PST')::date as today

Set the number of days we want the report to be run over.

In [ ]:
inlude_last_number_of_days=2
report_start_date=rs_today[0].today - timedelta(days=inlude_last_number_of_days)

# inlude_last_number_of_hours=24
# report_start_date=rs_today[0].today - timedelta(hours=inlude_last_number_of_hours)


# report_start_date = '2020-12-01'
report_start_date

## get all payments

In [ ]:
%%sql $sbc_pay paid  <<
SELECT i.business_identifier, 
       i.id                  invoice_id, 
       i.created_on,
       ir.invoice_number, 
       i.invoice_status_code invoice_status, 
       p.payment_status_code pay_status, 
       i.total, 
       i.paid, 
       r.receipt_number 
FROM   invoices i 
       LEFT OUTER JOIN invoice_references ir 
                    ON ir.invoice_id = i.id 
       LEFT OUTER JOIN payments p 
                    ON p.invoice_number = ir.invoice_number 
       LEFT OUTER JOIN receipts r 
                    ON r.invoice_id = i.id 
WHERE 
  created_on  >= :report_start_date
  and i.invoice_status_code = 'PAID'
  and i.business_identifier like 'NR%'
  and i.paid <> 101.5
ORDER  BY invoice_id ASC;

In [ ]:
paid_frame = paid.DataFrame()
paid_frame['nr_num']=paid_frame['business_identifier']
paid_frame

## get all duplicate names

In [ ]:
%%sql $namex name_requests  <<
select distinct
r.id, r.nr_num, r.priority_cd as pri, r.state_cd as nr_state,r.submitted_date,r.source,
n.name,
a.first_name||' '||a.last_name as name, a.phone_number, a.email_address
from requests r, names n, applicants a
where r.id = n.nr_id
and r.id = a.nr_id
and r.submitted_date::date >= :report_start_date
and
n.choice=1
and
n.name in (

select 
n.name
from requests r, names n
where r.id = n.nr_id
and
r.submitted_date::date >= :report_start_date
-- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT','CANCELLED')
-- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT')
--and n.choice=1
group by n.name
having count(n.name) > 1
)
order by n.name
;

In [ ]:
nr_frame = name_requests.DataFrame()
nr_frame

## Merge the Duplicate Names with Payment information

In [ ]:
result = pd.merge(nr_frame, paid_frame, how='left', on=['nr_num'])
result=result.drop(['id','business_identifier','created_on','invoice_number','total','receipt_number'], axis=1)
result

In [ ]:

time_stamp = time.time()
now = datetime.utcfromtimestamp(time_stamp).replace(tzinfo=timezone.utc)
local_now = now.astimezone(Pacific)
local_now.strftime("%Y.%m.%d.%H")

## Write the results to a CSV file

In [ ]:
with open('nr_duplicates_with_pay_info.'+local_now.strftime("%Y.%m.%d.%H")+'.csv', 'a') as f:      
    f.write('\n\n Name Requests\n')
    result.to_csv(f, sep=',', encoding='utf-8', index=False)