
# NameX Payments

We need to load in these libraries into our notebook in order to query, load, manipulate and view the data

In [1]:
import os
from datetime import tzinfo, timedelta, datetime, timezone
import psycopg2
import pandas as pd
import matplotlib
import time
# from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from IPython.core.display import HTML

%load_ext sql
%config SqlMagic.displaylimit = 5

This will create the connection to the database and prep the jupyter magic for SQL

In [2]:
sbc_pay = 'postgresql://postgres:postgres@docker.for.mac.localhost:6666/pay-db';
    
%sql $sbc_pay

In [3]:
namex = 'postgresql://postgres:postgres@docker.for.mac.localhost:4444/namex';
    
%sql $namex

Simplest query to run to ensure our libraries are loaded and our DB connection is working

In [4]:
%%sql $sbc_pay
select now() AT TIME ZONE 'PST' as current_date

1 rows affected.

[(datetime.datetime(2021, 5, 12, 7, 30, 13, 670629),)]

In [5]:
%%sql $namex
select now() AT TIME ZONE 'PST' as current_date

1 rows affected.

[(datetime.datetime(2021, 5, 12, 7, 30, 20, 877246),)]

In [6]:
%%sql $namex rs_today <<
select (now() AT TIME ZONE 'PST')::date as today

1 rows affected.
Returning data to local variable rs_today

In [7]:
inlude_last_number_of_days=2
report_start_date=rs_today[0].today - timedelta(days=inlude_last_number_of_days)

# inlude_last_number_of_hours=24
# report_start_date=rs_today[0].today - timedelta(hours=inlude_last_number_of_hours)


# report_start_date = '2020-12-01'
report_start_date

datetime.date(2021, 5, 10)

Weekly running time.

## get all payments

In [8]:
%%sql $sbc_pay paid  <<
SELECT i.business_identifier, 
       i.id                  invoice_id, 
       i.created_on,
       ir.invoice_number, 
       i.invoice_status_code invoice_status, 
       p.payment_status_code pay_status, 
       i.total, 
       i.paid, 
       r.receipt_number 
FROM   invoices i 
       LEFT OUTER JOIN invoice_references ir 
                    ON ir.invoice_id = i.id 
       LEFT OUTER JOIN payments p 
                    ON p.invoice_number = ir.invoice_number 
       LEFT OUTER JOIN receipts r 
                    ON r.invoice_id = i.id 
WHERE 
  created_on  >= :report_start_date
  and i.invoice_status_code = 'PAID'
  and i.business_identifier like 'NR%'
  and i.paid <> 101.5
ORDER  BY invoice_id ASC;

796 rows affected.
Returning data to local variable paid

In [9]:
paid_frame = paid.DataFrame()
paid_frame['nr_num']=paid_frame['business_identifier']
paid_frame

,business_identifier,invoice_id,created_on,invoice_number,invoice_status,pay_status,total,paid,receipt_number,nr_num
0,NR 7902919,46484,2021-05-10 00:02:00.158843,REG00046484,PAID,COMPLETED,31.5,31.5,275427,NR 7902919
1,NR 2746971,46485,2021-05-10 00:02:12.444647,REG00046485,PAID,COMPLETED,31.5,31.5,275428,NR 2746971
2,NR 0597224,46486,2021-05-10 00:05:19.024915,REG00046486,PAID,COMPLETED,131.5,131.5,275430,NR 0597224
3,NR 2724832,46487,2021-05-10 00:18:42.356564,REG00046487,PAID,COMPLETED,131.5,131.5,275419,NR 2724832
4,NR 7695717,46488,2021-05-10 00:20:31.041293,REG00046488,PAID,COMPLETED,31.5,31.5,275418,NR 7695717
...,...,...,...,...,...,...,...,...,...,...
791,NR 2311029,47378,2021-05-12 15:17:40.907047,REG00047378,PAID,COMPLETED,31.5,31.5,277534,NR 2311029
792,NR 1543949,47379,2021-05-12 15:18:08.556283,REG00047379,PAID,COMPLETED,31.5,31.5,277535,NR 1543949
793,NR 9404245,47380,2021-05-12 15:21:17.434995,REG00047380,PAID,COMPLETED,31.5,31.5,277586,NR 9404245
794,NR 3265655,47381,2021-05-12 15:26:04.862461,REG00047381,PAID,COMPLETED,31.5,31.5,277589,NR 3265655
795,NR 0333548,47382,2021-05-12 15:26:49.558700,REG00047382,PAID,COMPLETED,31.5,31.5,277590,NR 0333548

In [10]:
%%sql $namex name_requests  <<
select distinct
r.id, r.nr_num, r.priority_cd as pri, r.state_cd as nr_state,r.submitted_date,r.source,
n.name,
a.first_name||' '||a.last_name as name, a.phone_number, a.email_address
from requests r, names n, applicants a
where r.id = n.nr_id
and r.id = a.nr_id
and r.submitted_date::date >= :report_start_date
and
n.choice=1
and
n.name in (

select 
n.name
from requests r, names n
where r.id = n.nr_id
and
r.submitted_date::date >= :report_start_date
-- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT','CANCELLED')
-- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT')
--and n.choice=1
group by n.name
having count(n.name) > 1
)
order by n.name
;

154 rows affected.
Returning data to local variable name_requests

Alternate

In [ ]:
# %%sql $namex name_requests  <<
# select distinct
# r.id, r.nr_num, r.priority_cd as pri, r.state_cd as nr_state,r.submitted_date,r.source,
# (select string_agg('"'||n.name||'"', ',\n') from names n where n.nr_id = r.id group by n.nr_id) as list_name
# from requests r
# where
# r.id in (
# select 
# n1.nr_id
# from requests r1, names n1
# where r1.id = n1.nr_id
# and
# r1.submitted_date::date >= :report_start_date
# -- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT','CANCELLED')
# -- and r.state_cd in ('DRAFT','HOLD','PENDING_PAYMENT')
# --and n.choice=1
# group by n1.nr_id
# having count(n1.name) > 1
# )
# order by list_name
# ;

In [11]:
nr_frame = name_requests.DataFrame()
nr_frame

,id,nr_num,pri,nr_state,submitted_date,source,name,name,phone_number,email_address
0,2101030,NR L049806,N,CANCELLED,2021-05-11 03:38:00.480221+00:00,NAMEREQUEST,ALL FIT SPLINT CORP.,Jun Min,2364584568,yjmin72@hotmail.com
1,2101031,NR 2303431,N,DRAFT,2021-05-11 03:41:56.291145+00:00,NAMEREQUEST,ALL FIT SPLINT CORP.,Yong Jun Min,2364584568,yjmin72@hotmail.com
2,2101244,NR 0704123,N,PENDING_PAYMENT,2021-05-11 17:58:25.402730+00:00,NAMEREQUEST,AM-PM HOLDINGS LTD.,Anita Sather,6045917321,als@ksw.bc.ca
3,2101251,NR 6172187,N,DRAFT,2021-05-11 18:07:15.564017+00:00,NAMEREQUEST,AM-PM HOLDINGS LTD.,Anita Sather,6045917321,als@ksw.bc.ca
4,2100332,NR 3805926,Y,APPROVED,2021-05-11 00:07:49+00:00,NRO,ANRY WANG PERSONAL REAL ESTATE CORPORATION,Yi Rong Wang,7788968561,anrywangrealtor@gmail.com
...,...,...,...,...,...,...,...,...,...,...
149,2101286,NR L049966,N,PENDING_PAYMENT,2021-05-11 18:40:25.122614+00:00,NAMEREQUEST,WORKEREZ LLC,Joel Jerez Alonso,5511964799801,admin@workerez.com
150,2101301,NR L049975,N,PENDING_PAYMENT,2021-05-11 18:55:12.294742+00:00,NAMEREQUEST,WORKEREZ LLC,Joel Jerez Alonso,5511964799801,admin@workerez.com
151,2100956,NR 1699255,Y,CANCELLED,2021-05-11 00:43:41+00:00,NRO,XPERT-EASE MOVING & DELIVERY LTD.,Shirlon Johnson,7785834662,Shirlonxtra@yahoo.com
152,2101124,NR L049868,N,PENDING_PAYMENT,2021-05-11 15:03:12.359201+00:00,NAMEREQUEST,YOUR STORY IS CALLING INC.,Jessika von Innerebner,250-869-9688,jessika.voni@gmail.com
153,2101130,NR 7263379,N,DRAFT,2021-05-11 15:16:54+00:00,NRO,YOUR STORY IS CALLING INC.,Jessika von Innerebner,250-869-9688,jessika.voni@gmail.com

In [15]:
result = pd.merge(nr_frame, paid_frame, how='left', on=['nr_num'])
result=result.drop(['id','business_identifier','created_on','invoice_number','total','receipt_number'], axis=1)
result

,nr_num,pri,nr_state,submitted_date,source,name,name,phone_number,email_address,invoice_id,invoice_status,pay_status,paid
0,NR L049806,N,CANCELLED,2021-05-11 03:38:00.480221+00:00,NAMEREQUEST,ALL FIT SPLINT CORP.,Jun Min,2364584568,yjmin72@hotmail.com,NaN,NaN,NaN,NaN
1,NR 2303431,N,DRAFT,2021-05-11 03:41:56.291145+00:00,NAMEREQUEST,ALL FIT SPLINT CORP.,Yong Jun Min,2364584568,yjmin72@hotmail.com,46959.0,PAID,COMPLETED,31.5
2,NR 0704123,N,PENDING_PAYMENT,2021-05-11 17:58:25.402730+00:00,NAMEREQUEST,AM-PM HOLDINGS LTD.,Anita Sather,6045917321,als@ksw.bc.ca,NaN,NaN,NaN,NaN
3,NR 6172187,N,DRAFT,2021-05-11 18:07:15.564017+00:00,NAMEREQUEST,AM-PM HOLDINGS LTD.,Anita Sather,6045917321,als@ksw.bc.ca,47076.0,PAID,COMPLETED,31.5
4,NR 3805926,Y,APPROVED,2021-05-11 00:07:49+00:00,NRO,ANRY WANG PERSONAL REAL ESTATE CORPORATION,Yi Rong Wang,7788968561,anrywangrealtor@gmail.com,46888.0,PAID,COMPLETED,131.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,NR L049966,N,PENDING_PAYMENT,2021-05-11 18:40:25.122614+00:00,NAMEREQUEST,WORKEREZ LLC,Joel Jerez Alonso,5511964799801,admin@workerez.com,NaN,NaN,NaN,NaN
150,NR L049975,N,PENDING_PAYMENT,2021-05-11 18:55:12.294742+00:00,NAMEREQUEST,WORKEREZ LLC,Joel Jerez Alonso,5511964799801,admin@workerez.com,NaN,NaN,NaN,NaN
151,NR 1699255,Y,CANCELLED,2021-05-11 00:43:41+00:00,NRO,XPERT-EASE MOVING & DELIVERY LTD.,Shirlon Johnson,7785834662,Shirlonxtra@yahoo.com,46900.0,PAID,COMPLETED,131.5
152,NR L049868,N,PENDING_PAYMENT,2021-05-11 15:03:12.359201+00:00,NAMEREQUEST,YOUR STORY IS CALLING INC.,Jessika von Innerebner,250-869-9688,jessika.voni@gmail.com,NaN,NaN,NaN,NaN
153,NR 7263379,N,DRAFT,2021-05-11 15:16:54+00:00,NRO,YOUR STORY IS CALLING INC.,Jessika von Innerebner,250-869-9688,jessika.voni@gmail.com,47010.0,PAID,COMPLETED,31.5

In [12]:
ZERO = timedelta(0)
HOUR = timedelta(hours=1)
SECOND = timedelta(seconds=1)

# A class capturing the platform's idea of local time.
# (May result in wrong values on historical times in
#  timezones where UTC offset and/or the DST rules had
#  changed in the past.)
import time as _time

STDOFFSET = timedelta(seconds = -_time.timezone)
if _time.daylight:
    DSTOFFSET = timedelta(seconds = -_time.altzone)
else:
    DSTOFFSET = STDOFFSET

DSTDIFF = DSTOFFSET - STDOFFSET

class LocalTimezone(tzinfo):

    def fromutc(self, dt):
        assert dt.tzinfo is self
        stamp = (dt - datetime(1970, 1, 1, tzinfo=self)) // SECOND
        args = _time.localtime(stamp)[:6]
        dst_diff = DSTDIFF // SECOND
        # Detect fold
        fold = (args == _time.localtime(stamp - dst_diff))
        return datetime(*args, microsecond=dt.microsecond,
                        tzinfo=self, fold=fold)

    def utcoffset(self, dt):
        if self._isdst(dt):
            return DSTOFFSET
        else:
            return STDOFFSET

    def dst(self, dt):
        if self._isdst(dt):
            return DSTDIFF
        else:
            return ZERO

    def tzname(self, dt):
        return _time.tzname[self._isdst(dt)]

    def _isdst(self, dt):
        tt = (dt.year, dt.month, dt.day,
              dt.hour, dt.minute, dt.second,
              dt.weekday(), 0, 0)
        stamp = _time.mktime(tt)
        tt = _time.localtime(stamp)
        return tt.tm_isdst > 0

Local = LocalTimezone()


# A complete implementation of current DST rules for major US time zones.

def first_sunday_on_or_after(dt):
    days_to_go = 6 - dt.weekday()
    if days_to_go:
        dt += timedelta(days_to_go)
    return dt


# US DST Rules
#
# This is a simplified (i.e., wrong for a few cases) set of rules for US
# DST start and end times. For a complete and up-to-date set of DST rules
# and timezone definitions, visit the Olson Database (or try pytz):
# http://www.twinsun.com/tz/tz-link.htm
# http://sourceforge.net/projects/pytz/ (might not be up-to-date)
#
# In the US, since 2007, DST starts at 2am (standard time) on the second
# Sunday in March, which is the first Sunday on or after Mar 8.
DSTSTART_2007 = datetime(1, 3, 8, 2)
# and ends at 2am (DST time) on the first Sunday of Nov.
DSTEND_2007 = datetime(1, 11, 1, 2)
# From 1987 to 2006, DST used to start at 2am (standard time) on the first
# Sunday in April and to end at 2am (DST time) on the last
# Sunday of October, which is the first Sunday on or after Oct 25.
DSTSTART_1987_2006 = datetime(1, 4, 1, 2)
DSTEND_1987_2006 = datetime(1, 10, 25, 2)
# From 1967 to 1986, DST used to start at 2am (standard time) on the last
# Sunday in April (the one on or after April 24) and to end at 2am (DST time)
# on the last Sunday of October, which is the first Sunday
# on or after Oct 25.
DSTSTART_1967_1986 = datetime(1, 4, 24, 2)
DSTEND_1967_1986 = DSTEND_1987_2006

def us_dst_range(year):
    # Find start and end times for US DST. For years before 1967, return
    # start = end for no DST.
    if 2006 < year:
        dststart, dstend = DSTSTART_2007, DSTEND_2007
    elif 1986 < year < 2007:
        dststart, dstend = DSTSTART_1987_2006, DSTEND_1987_2006
    elif 1966 < year < 1987:
        dststart, dstend = DSTSTART_1967_1986, DSTEND_1967_1986
    else:
        return (datetime(year, 1, 1), ) * 2

    start = first_sunday_on_or_after(dststart.replace(year=year))
    end = first_sunday_on_or_after(dstend.replace(year=year))
    return start, end


class USTimeZone(tzinfo):

    def __init__(self, hours, reprname, stdname, dstname):
        self.stdoffset = timedelta(hours=hours)
        self.reprname = reprname
        self.stdname = stdname
        self.dstname = dstname

    def __repr__(self):
        return self.reprname

    def tzname(self, dt):
        if self.dst(dt):
            return self.dstname
        else:
            return self.stdname

    def utcoffset(self, dt):
        return self.stdoffset + self.dst(dt)

    def dst(self, dt):
        if dt is None or dt.tzinfo is None:
            # An exception may be sensible here, in one or both cases.
            # It depends on how you want to treat them.  The default
            # fromutc() implementation (called by the default astimezone()
            # implementation) passes a datetime with dt.tzinfo is self.
            return ZERO
        assert dt.tzinfo is self
        start, end = us_dst_range(dt.year)
        # Can't compare naive to aware objects, so strip the timezone from
        # dt first.
        dt = dt.replace(tzinfo=None)
        if start + HOUR <= dt < end - HOUR:
            # DST is in effect.
            return HOUR
        if end - HOUR <= dt < end:
            # Fold (an ambiguous hour): use dt.fold to disambiguate.
            return ZERO if dt.fold else HOUR
        if start <= dt < start + HOUR:
            # Gap (a non-existent hour): reverse the fold rule.
            return HOUR if dt.fold else ZERO
        # DST is off.
        return ZERO

    def fromutc(self, dt):
        assert dt.tzinfo is self
        start, end = us_dst_range(dt.year)
        start = start.replace(tzinfo=self)
        end = end.replace(tzinfo=self)
        std_time = dt + self.stdoffset
        dst_time = std_time + HOUR
        if end <= dst_time < end + HOUR:
            # Repeated hour
            return std_time.replace(fold=1)
        if std_time < start or dst_time >= end:
            # Standard time
            return std_time
        if start <= std_time < end - HOUR:
            # Daylight saving time
            return dst_time


Eastern  = USTimeZone(-5, "Eastern",  "EST", "EDT")
Central  = USTimeZone(-6, "Central",  "CST", "CDT")
Mountain = USTimeZone(-7, "Mountain", "MST", "MDT")
Pacific  = USTimeZone(-8, "Pacific",  "PST", "PDT")

In [13]:

time_stamp = time.time()
now = datetime.utcfromtimestamp(time_stamp).replace(tzinfo=timezone.utc)
local_now = now.astimezone(Pacific)
local_now.strftime("%Y.%m.%d.%H")

'2021.05.12.08'

In [16]:
with open('nr_duplicates_with_pay_info.'+local_now.strftime("%Y.%m.%d.%H")+'.csv', 'a') as f:      
    f.write('\n\n Name Requests\n')
    result.to_csv(f, sep=',', encoding='utf-8', index=False)