
# NameX NameRequest stuck in Draft, but Paid

We need to load in these libraries into our notebook in order to query, load, manipulate and view the data

In [1]:
import os
from datetime import tzinfo, timedelta, datetime, timezone
import psycopg2
import pandas as pd
import matplotlib
import time
# from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from IPython.core.display import HTML

%load_ext sql
%config SqlMagic.displaylimit = 5

In [ ]:
%run ./utility.ipynb

This will create the connection to the database and prep the jupyter magic for SQL

In [2]:
sbc_pay = 'postgresql://postgres:postgres@host.docker.internal:6666/pay-db';
    
%sql $sbc_pay

In [3]:
namex = 'postgresql://postgres:postgres@host.docker.internal:4444/namex';
    
%sql $namex

Simplest query to run to ensure our libraries are loaded and our DB connection is working

In [4]:
%%sql $sbc_pay
select now() AT TIME ZONE 'PST' as current_date

1 rows affected.

[(datetime.datetime(2021, 5, 12, 7, 26, 55, 160123),)]

In [5]:
%%sql $namex
select now() AT TIME ZONE 'PST' as current_date

1 rows affected.

[(datetime.datetime(2021, 5, 12, 7, 26, 57, 577760),)]

In [6]:
%%sql $namex rs_today <<
select (now() AT TIME ZONE 'PST')::date as today

1 rows affected.
Returning data to local variable rs_today

In [7]:
inlude_last_number_of_days=10
report_start_date=rs_today[0].today - timedelta(days=inlude_last_number_of_days)
report_start_date

datetime.date(2021, 5, 2)

Weekly running time.

In [8]:
# %%sql $sbc_pay payments  <<
# SELECT i.business_identifier, 
#        i.id                  invoice_id, 
#        i.created_on,
#        ir.invoice_number, 
#        i.invoice_status_code invoice_status, 
#        p.payment_status_code pay_status, 
#        i.total, 
#        i.paid, 
#        r.receipt_number 
# FROM   invoices i 
#        LEFT OUTER JOIN invoice_references ir 
#                     ON ir.invoice_id = i.id 
#        LEFT OUTER JOIN payments p 
#                     ON p.invoice_number = ir.invoice_number 
#        LEFT OUTER JOIN receipts r 
#                     ON r.invoice_id = i.id 
# WHERE 
#   created_on  >= :report_start_date
#   and payment_status_code = 'COMPLETED'
#   and total <> 101.5
# ORDER  BY invoice_id ASC;

In [9]:
# pay_frame = payments.DataFrame()
# pay_frame['nr_num']=pay_frame['business_identifier']
# pay_frame

In [10]:
# %%sql $namex name_requests  <<
# select id,nr_num,source,request_id,request_type_cd,priority_cd,state_cd
# from requests
# where submitted_date >= :report_start_date
# and state_cd not in ('CANCELLED','PENDING_PAYMENT') ;

In [11]:
# nr_frame = name_requests.DataFrame()
# nr_frame

In [12]:
# result = pd.merge(pay_frame, nr_frame, how='inner', on=['nr_num'])
# result

In [14]:
time_stamp = time.time()
now = datetime.utcfromtimestamp(time_stamp).replace(tzinfo=timezone.utc)
local_now = now.astimezone(Pacific)
local_now.strftime("%Y.%m.%d.%H")

'2021.05.12.08'

In [15]:
# with open('nr_draft_no_pay.'+local_now.strftime("%Y.%m.%d.%H")+'.csv', 'a') as f:      
#     f.write('\n\n Name Requests\n')
#     result.to_csv(f, sep=',', encoding='utf-8', index=False)

In [16]:
%%sql $sbc_pay paid  <<
SELECT i.business_identifier, 
       i.id                  invoice_id, 
       i.created_on,
       ir.invoice_number, 
       i.invoice_status_code invoice_status, 
       p.payment_status_code pay_status, 
       i.total, 
       i.paid, 
       r.receipt_number 
FROM   invoices i 
       LEFT OUTER JOIN invoice_references ir 
                    ON ir.invoice_id = i.id 
       LEFT OUTER JOIN payments p 
                    ON p.invoice_number = ir.invoice_number 
       LEFT OUTER JOIN receipts r 
                    ON r.invoice_id = i.id 
WHERE 
  created_on  >= :report_start_date
  and i.invoice_status_code = 'PAID'
  and i.business_identifier like 'NR%'
ORDER  BY invoice_id ASC;

3080 rows affected.
Returning data to local variable paid

In [17]:
paid_frame = paid.DataFrame()
paid_frame['nr_num']=paid_frame['business_identifier']
paid_frame

,business_identifier,invoice_id,created_on,invoice_number,invoice_status,pay_status,total,paid,receipt_number,nr_num
0,NR 0743054,43984,2021-05-02 00:05:07.419259,REG00043984,PAID,COMPLETED,131.5,131.5,269308,NR 0743054
1,NR 2256536,43985,2021-05-02 00:06:19.621393,REG00043985,PAID,COMPLETED,31.5,31.5,269309,NR 2256536
2,NR 3813226,43986,2021-05-02 00:06:40.673946,REG00043986,PAID,COMPLETED,31.5,31.5,269311,NR 3813226
3,NR 9594789,43987,2021-05-02 00:06:42.158352,REG00043987,PAID,COMPLETED,31.5,31.5,269310,NR 9594789
4,NR 5560765,43988,2021-05-02 00:06:47.282012,REG00043988,PAID,COMPLETED,31.5,31.5,269312,NR 5560765
...,...,...,...,...,...,...,...,...,...,...
3075,NR 2681274,47377,2021-05-12 15:16:58.421422,REG00047377,PAID,COMPLETED,31.5,31.5,277584,NR 2681274
3076,NR 2311029,47378,2021-05-12 15:17:40.907047,REG00047378,PAID,COMPLETED,31.5,31.5,277534,NR 2311029
3077,NR 1543949,47379,2021-05-12 15:18:08.556283,REG00047379,PAID,COMPLETED,31.5,31.5,277535,NR 1543949
3078,NR 9404245,47380,2021-05-12 15:21:17.434995,REG00047380,PAID,COMPLETED,31.5,31.5,277586,NR 9404245
3079,NR 3265655,47381,2021-05-12 15:26:04.862461,REG00047381,PAID,COMPLETED,31.5,31.5,277589,NR 3265655

In [18]:
%%sql $namex pending  <<
select id,nr_num,source,request_id,request_type_cd,priority_cd,state_cd 
from requests 
where submitted_date >= :report_start_date
and state_cd in ('PENDING_PAYMENT');

399 rows affected.
Returning data to local variable pending

In [19]:
pending_frame = pending.DataFrame()
pending_frame

,id,nr_num,source,request_id,request_type_cd,priority_cd,state_cd
0,2097614,NR L047387,NAMEREQUEST,NaN,FR,N,PENDING_PAYMENT
1,2096619,NR 3706887,NAMEREQUEST,1815294.0,FR,N,PENDING_PAYMENT
2,2096522,NR 8091294,NAMEREQUEST,1815199.0,FR,N,PENDING_PAYMENT
3,2096506,NR L046588,NAMEREQUEST,NaN,FR,N,PENDING_PAYMENT
4,2096504,NR 4792938,NAMEREQUEST,1815184.0,FR,N,PENDING_PAYMENT
...,...,...,...,...,...,...,...
394,2101646,NR L050226,NAMEREQUEST,NaN,FR,N,PENDING_PAYMENT
395,2101656,NR L050236,NAMEREQUEST,NaN,FR,N,PENDING_PAYMENT
396,2101661,NR L050241,NAMEREQUEST,NaN,FR,N,PENDING_PAYMENT
397,2101728,NR L050275,NAMEREQUEST,NaN,CR,N,PENDING_PAYMENT
398,2101738,NR 0333548,NAMEREQUEST,1820041.0,XCCR,N,PENDING_PAYMENT

In [20]:
paid_for_pending_result = pd.merge(paid_frame, pending_frame, how='inner', on=['nr_num'])
paid_for_pending_result

,business_identifier,invoice_id,created_on,invoice_number,invoice_status,pay_status,total,paid,receipt_number,nr_num,id,source,request_id,request_type_cd,priority_cd,state_cd
0,NR 6172187,47076,2021-05-11 18:07:27.697670,REG00047076,PAID,COMPLETED,31.5,31.5,REG00047076,NR 6172187,2101251,NAMEREQUEST,1819580.0,CR,N,PENDING_PAYMENT

In [ ]:
with open('nr_paid_and_pending.'+local_now.strftime("%Y.%m.%d.%H")+'.csv', 'a') as f:      
    f.write('\n\n Name Requests\n')
    paid_for_pending_result.to_csv(f, sep=',', encoding='utf-8', index=False)